#category-name {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 5px 0px;
    text-align: center;
    height: 40%;
    border-radius: 0px 0px 10px 10px;
    color: white;
    font-size: 3.2vh;
    font-weight: bold;
}

#categories-content {
    margin-bottom: 10px;
}

#category-content {
    border: 1px solid white;
    border-radius: 10px;
    /* box-shadow: 0px 0px 5px 0px white; */
}

#posts {
    margin-top: 5px;
    font-size: 2.2vh;
    line-height: 20px;
}

#image-content {
    position: relative;
    cursor: pointer;
    font-family: "Gill Sans Ultra Bold", "Helvetica Neue Ultra Bold",
        "Futura Bold", "Arial Black", sans-serif;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
}

#image-content:hover {
    opacity: 1.5;
    transform: scale(1.05);
}

#image-content img {
    border-radius: 10px;
}