#all-content {
    height: 100vh;
    width: 100vw;
    position: relative;
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
    font-family: "Gill Sans Ultra Bold", "Helvetica Neue Ultra Bold",
        "Futura Bold", "Arial Black", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
}

#over-the-form {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

#create-post-content {
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid #cd4d96;
    box-shadow: 0px 0px 10px 0px #e0b1cbb8;
    width: 35vw;
    height: 70vh;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 40px;
}

#create-post-content div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}

#create-post-content div label {
    position: absolute;
    top: -30px;
    left: 103px;
}

#create-post-content div label#categories {
    position: absolute;
    top: -20px;
}

#create-post-content div input,
textarea,
select {
    color: white;
    background-color: #e0b1cb3f;
    border-radius: 5px;
    border: none;
    padding: 5px;
    font-family: "Gill Sans Ultra Bold", "Helvetica Neue Ultra Bold",
        "Futura Bold", "Arial Black", sans-serif;
}

#create-post-content div input:focus,
textarea:focus,
select:focus {
    border: 1px solid #cd4d96;
    outline: none;
}

#create-post-content div input {
    width: 60%;
    height: 3.3vh;
}

#create-post-content div textarea {
    width: 60%;
}

#create-post-content div select {
    background-color: #41353B;
    height: 5vh;
    width: 43.3%;
    color: white;
    position: absolute;
    top: -25px;
    left: 38%;
}

.close-create-post-button {
    position: absolute;
    top: -20px;
    right: -20px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #cd4d96;
    color: white;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#create-post-button {
    width: 150px;
    height: 45px;
    background-color: #cd4d96;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}