#sign-up-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    /* background-color: rgba(0, 0, 0, 0.9); */
    font-family: "Gill Sans Ultra Bold", "Helvetica Neue Ultra Bold",
        "Futura Bold", "Arial Black", sans-serif;
    gap: 20px;
}

#sign-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 35vh;
    width: 20vw;
    /* background-color: #2C2F34; */
    border: 0.5px solid white;
    background-color: #171544;
    padding: 6vh;
    border-radius: 10px;
    gap: 10px;
}

#sign-up input {
    width: 18.5vw;
    height: 3vh;
    border-radius: 5px;
    border: none;
    padding: 10px;
    color: white;
    background-color: #e0b1cb3f;
    font-family: "Gill Sans Ultra Bold", "Helvetica Neue Ultra Bold",
        "Futura Bold", "Arial Black", sans-serif;
}

#sign-up input:focus {
    border: 1px solid white;
    outline: none;
}

#sign-up-page img {
    width: 50px;
    height: 50px;
    margin-top: 1vh;
    cursor: pointer;
    margin-bottom: 10px;
}

#sign-up-buttons {
    display: flex;
    justify-content: end;
    align-items: end;
    width: 25.5vw;
    font-family: "Gill Sans Ultra Bold", "Helvetica Neue Ultra Bold",
        "Futura Bold", "Arial Black", sans-serif;
}

#sign-up-buttons a {
    height: 35px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    text-decoration: none;
    color: white;
    background-color: #89c623;
    border-radius: 10px;
    font-size: 15px;
}

#observatory img {
    position: absolute;
    bottom: 25px;
    left: 0;
    height: 200px;
    width: 300px;
}

.error {
    color: red;
    font-size: 15px;
    text-align: center;
}