footer {
    font-size: 13px;
    color: white;
    background-color: black;
    text-align: center;
    height: 25px;
    padding-top: 7px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: "Gill Sans Ultra Bold", "Helvetica Neue Ultra Bold",
        "Futura Bold", "Arial Black", sans-serif;
}