.home-content {
  margin: 0;
  padding: 0;
  background-color: rgba(245, 243, 243, 0.186);
  color: black;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  align-items: center;
  position: relative;
}

.categories-content {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
}

#no-logged-in-title {
  font-weight: bold;
  text-align: center;
  color: white;
  font-family: "Gill Sans Ultra Bold", "Helvetica Neue Ultra Bold",
    "Futura Bold", "Arial Black", sans-serif;
}

#no-logged-in-title h1 {
  font-size: 3.5vh;
  margin: 0;
  margin-bottom: 15px;
}

#no-logged-in-info {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  font-size: 2.3vh;
}

#no-logged-in-title span {
  background-color: #8ac623d5;
  padding: 15px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#no-logged-in-title #users {
  position: absolute;
  top: 125px;
  left: 18.5%;
  height: 90px;
  width: 90px;
}

#no-logged-in-title #posts {
  position: absolute;
  top: 105px;
  left: 26.5%;
  height: 60px;
  width: 60px;
}

#posts-content {
  display: flex;
  gap: 15px;
  background-color: #2C2F34;
  border-radius: 10px;
  width: 70%;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
  color: white;
}

#most-commented {
  padding-right: 12px;
  border-right: 1px solid white;
}

#most-commented h2 {
  text-align: center;
  font-size: 18px;
  font-family: "Gill Sans Ultra Bold", "Helvetica Neue Ultra Bold",
    "Futura Bold", "Arial Black", sans-serif;
}

#recently-created h2 {
  text-align: center;
  font-size: 18px;
  font-family: "Gill Sans Ultra Bold", "Helvetica Neue Ultra Bold",
    "Futura Bold", "Arial Black", sans-serif;
}

#posts-content div span {
  position: absolute;
  bottom: 5px;
  right: 15px;
  text-align: center;
}

#posts-buttons {
  display: flex;
  gap: 20px;
  margin-top: 5px;
  margin-bottom: 10px;
}

#woman-home {
  width: 17vw;
  height: 70vh;
  position: absolute;
  bottom: 65px;
  right: 3.5vw;
}

#man-home {
  width: 23vw;
  height: 70vh;
  position: absolute;
  bottom: 65px;
  left: -2vw;
}

#see-more-trending,
#see-more-recently {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

#see-more-trending button,
#see-more-recently button {
  width: 35px;
  height: 35px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #CD4D95;
}

#see-more-trending button#active,
#see-more-recently button#active {
  border-radius: 50%;
  color: #CD4D95;
  background-color: #ffffff;
}