#change-info-right-side {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    padding: 30px;
    padding-top: 10px;
    border-radius: 5px;
    width: 50%;
    position: relative;
    background-color: #2b2d2f;
}

#change-info-right-side #upload-profile-picture {
    position: absolute;
    bottom: 30px;
    right: 100px;
    font-weight: bold;
}

#change-info-right-side #upload-button-top {
    position: absolute;
    top: 80px;
    left: 30px;
    font-weight: bold;
}

#change-info-right-side #delete-profile-picture {
    position: absolute;
    bottom: 30px;
    right: 30px;
    font-weight: bold;
}

#change-info-right-side img {
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
    position: absolute;
    top: 20%;
    left: 26%;
    border-radius: 5px;
    border: 2px solid #d98f40;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px #d98f4085;
}

#change-info-right-side span {
    font-size: 20px;
    margin: 0;
    margin-top: 20px;
}