.header-content {
  display: flex;
  height: 10vh;
  width: 97vw;
  margin-right: 20px;
  margin-left: 20px;
  background-color: transparent;
  justify-content: space-between;
  font-family: "Gill Sans Ultra Bold", "Helvetica Neue Ultra Bold",
    "Futura Bold", "Arial Black", sans-serif;
}

.username-and-arrow #header-username {
  margin: 0;
  font-size: 2.5vh;
  color: white;
  font-family: "Gill Sans Ultra Bold", "Helvetica Neue Ultra Bold",
    "Futura Bold", "Arial Black", sans-serif;
}

.username-and-arrow {
  display: flex;
  align-items: center;
  gap: 10px;
}

.dropdown-menu {
  position: absolute;
  top: 60px;
  display: none;
  cursor: pointer;
  font-size: 18px;
  font-family: montserrat, helvetica neue, Helvetica, Arial, sans-serif;
  background-color: #2b2d2fc0;
  border-radius: 5px;
  color: white;
  width: 150px;
  text-align: center;
  margin-right: 5px;
}

.dropdown-menu hr {
  margin: 0;
  padding: 0;
}

#active-dropdown {
  display: flex;
  flex-direction: column;
}

#logged-in img {
  width: 15px;
  height: 15px;
  cursor: pointer;
  margin-right: 10px;
}

#logged-in {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  color: white;
  margin-top: 25px;
  z-index: 1;
}

#logged-in a {
  display: flex;
  padding: 10px;
  font-size: 17px;
  width: 86%;
  height: 22px;
  color: white;
  text-decoration: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#logged-in a:hover {
  background-color: #aaaaaa4e;
}

.button-content {
  width: 180px;
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

#logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

#logo a {
  text-decoration: none;
  color: white;
  background-color: #89C623;
  padding: 8px;
  border-radius: 10px;
  font-size: 15px;
  margin: 0;
  width: 100px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

#logo img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

#logo span {
  font-size: 4vh;
  font-weight: bold;
  color: white;
}

.button-content a {
  width: 65px;
  height: 23px;
  color: white;
  padding: 10px;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

#search {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
}

#search input {
  width: 300px;
  height: 22px;
  border-radius: 10px;
  border: none;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  margin-top: 5px;
  margin-right: 110px;
}

#search #magnifying-glass {
  width: 47px;
  height: 44px;
  border-radius: 10px;
  border: none;
  background-color: #CD4D95;
  cursor: pointer;
  position: absolute;
  top: 16.3px;
  right: 109px;
  text-align: center;
}

#search img {
  width: 30px;
  height: 30px;
  padding-top: 5px;
}

#no-logged-in-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

#no-logged-in-info span {
  font-size: 12px;
  margin: 0;
  border: 1px solid white;
  width: 150px;
  height: 21px;
  border-radius: 10px;
  text-align: center;
  padding: 2px;
}