.header-content {
  display: flex;
  height: 10vh;
  width: 97vw;
  margin-right: 1.5vw;
  margin-left: 1.5vw;
  background-color: transparent;
  justify-content: space-between;
  font-family: "Gill Sans Ultra Bold", "Helvetica Neue Ultra Bold",
    "Futura Bold", "Arial Black", sans-serif;
}


.button-content {
  width: 180px;
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

#logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

#logo a {
  text-decoration: none;
  color: white;
  background-color: #89C623;
  padding: 8px;
  border-radius: 10px;
  font-size: 15px;
  margin: 0;
  width: 100px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

#logo img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

#logo span {
  font-size: 4vh;
  font-weight: bold;
  color: white;
}

.button-content a {
  width: 65px;
  height: 23px;
  color: white;
  padding: 10px;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

#logged-in {
  display: flex;
  align-items: center;
  gap: 20px;
}

#logged-in span {
  font-size: 2.5vh;
  font-weight: bold;
  color: white;
}

#logged-in a {
  padding: 8px;
  border-radius: 10px;
  font-size: 15px;
  width: 75px;
  height: 22px;
  color: white;
  text-align: center;
  text-decoration: none;
  border: none;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

#search {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
}

#search input {
  width: 300px;
  height: 22px;
  border-radius: 10px;
  border: none;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  margin-left: 40px;
  margin-top: 5px;
}

#search #magnifying-glass {
  width: 45px;
  height: 42px;
  border-radius: 10px;
  border: none;
  /* background-color: #89C623; */
  background-color: #CD4D95;
  cursor: pointer;
  position: absolute;
  top: 16.3px;
  /* right: -10px; */
  right: -47px;
  text-align: center;
}

#search img {
  width: 30px;
  height: 30px;
  padding-top: 5px;
}