.post-content {
  width: 100%;
  height: 93vh;
  /* background-color: rgba(0, 0, 0, 0.9); */
  padding-bottom: 40px;
  overflow: scroll;
  /* background-color: rgba(0, 0, 0, 0.5); */
}

.title {
  color: #aaaaaa;
  /* background-color: #2b2d2f; */
  /* border: 2px solid #CD4D95;
  box-shadow: 0px 0px 10px 0px #e0b1cbb8; */
  /* border: 2px solid #d98f40;
  box-shadow: 0px 0px 10px 0px #d98f40a8; */
  background-color: transparent;
  height: 12vh;
  width: 80%;
  border-radius: 5px;
  font-size: 20px;
  padding: 15px;
  font-family: montserrat, helvetica neue, Helvetica, Arial, sans-serif;
  font-weight: bold;
  margin-top: 30px;
  margin-left: 135px;
}

hr {
  margin: 15px 0;
}

#posts-count {
  /* background-color: rgba(0, 0, 0, 0.9); */
  background-color: black;
  /* background-color: #40344c; */
  /* background-color: #CD4D95; */
  width: 100px;
  height: 30px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 2px;
  color: white;
  font-size: 13px;
  line-height: 2.33;
}

#count {
  color: white;
  width: 23px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18px;
  background-color: red;
  font-size: 11px;
  background-color: #aaaaaa;
}

.post-main {
  width: 82%;
  margin-left: 135px;
  margin-top: 20px;
  border-radius: 10px;
  /* border: 2px solid #CD4D95; */
  /* box-shadow: 0px 0px 10px 0px #e0b1cbb8; */
  /* border: 2px solid #d98f40;
  box-shadow: 0px 0px 10px 0px #d98f40a8; */
  /* background-color: rgba(0, 0, 0, 0.9); */
}

.post-header {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  align-items: center;
  gap: 8px;
}

.post-footer {
  /* background-color: #222222; */
  height: 5vh;
  border-radius: 5px;
}

.post-content span {
  color: white;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Helvetica,
    Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
}

#sortBy {
  /* background-color: black; */
  /* background-color: #40344c; */
  /* background-color: #593bb2a2; */
  background-color: black;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Helvetica,
    Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
}

#sortBy:focus {
  border: none;
}

.left div {
  display: flex;
  gap: 15px;
  margin-right: 12px;
  margin-bottom: 41px;
}

.right {
  gap: 18px;
  position: relative;
}

.right button {
  position: absolute;
  right: 220px;
  bottom: 0px;
}

.title span {
  /* color: #d98f40; */
  font-size: 15px;
}