.post-main-content {
    /* background-color: #2b2d2f; */
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #aaaaaa;
    border-top: 1px solid #aaaaaa;
    /* background-color: rgba(0, 0, 0, 0.5); */
    /* border: 2px solid #d98f40; */
    border: 2px solid #755dba;
    /* box-shadow: 0px 0px 5px 0px #d98f40a8; */
    border-radius: 5px;
    margin-top: 20px;
    /* padding-top: 25px; */
    /* background-color: #0b0a22; */
    background-color: #171544;
    color: white;
}

.post-main-content span {
    color: white;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
    font-weight: normal;
}

.post-main-content:hover {
    opacity: 1.2;
    transform: scale(1.01);
    transition: all 0.4s ease-in-out;
    /* box-shadow: 0px 0px 10px 0px #d98f40a8; */
    box-shadow: 0px 0px 10px 0px #593bb2a2;
}

a {
    color: white;
    /* color: #d98f40; */
    text-decoration: none;
    font-size: 22px;
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Helvetica,
        Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
    font-weight: 500;
    line-height: 1.5;
}

.title-author {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.replies-views {
    display: flex;
    gap: 15px;
}

.replies-views {
    position: relative;
}

.replies-views button {
    width: 65px;
    height: 30px;
    border-radius: 5px;
    /* background-color: #d98f40; */
    color: white;
    font-size: 15px;
    font-family: montserrat, helvetica neue, Helvetica, Arial, sans-serif;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0px;
    right: 150px;
}

.left,
.right {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.left {
    align-items: center;
    justify-content: center;
}

.left div {
    display: flex;
    gap: 15px;
    margin-right: 12px;
    margin-bottom: 41px;
}

.right {
    gap: 18px;
    position: relative;
}

.right button {
    position: absolute;
    right: 220px;
    bottom: 0px;
}